<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quack - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
    <style>
        .titulo{
            font-family: "Baloo 2", sans-serif;
        }
        .bg-quack{
            background-color: rgb(255, 193, 7) !important;
        }
        .text-quack{
            color: rgb(255, 193, 7);
        }
        .nav-pills .nav-link.active{
            background-color: rgb(255, 193, 7);
        }
        .container2{
            margin: 0 16px;
        }
        .fixed-col {
            position: sticky;
            top: 0;
            height: 100vh;
            overflow-y: auto;
        }
        .scroll-col {
            height: 100vh;
            overflow-y: auto;
        }
        .counters {
            font-size: 18px;
        }
        .nav-link {
            cursor: pointer;
        }
        .nav-link:hover {
            background-color: rgba(255, 193, 7, 0.1);
        }
        .bi-caret-up-fill {
            justify-self: end;
        }
        .headernav img{
            overflow-x: visible !important;
        }
        .headernav h1{
            overflow-x: visible !important;
        }
        .headernav i{
            overflow-x: visible !important;
        }
        .like-button {
            background: none;
            border: none;
            cursor: pointer;
        }
        textarea {
        resize: none;
        }
        @media (width < 992px) {
            * {
                overflow-x: clip;
            }
            .container2{
                margin: 0;
            }
            .nav-pills .nav-link.active{
                background-color: transparent;
                color: rgb(255, 193, 7) !important;
            }
            .nav-link:hover {
            background-color: rgba(255, 193, 7, 0.1);
            }
            #search {
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border-left: 1px solid rgb(255, 193, 7);
            }
        }
    </style>
</head>
<body class="bg-white">
    <div class="container2">
        <header class="d-lg-none bg-light p-2 rounded-bottom border-bottom border-2 border-warning-subtle">
            <div id="headernav" class="d-flex justify-content-around align-items-center text-center mb-1">
                <a href="{% url 'profile' handle=request.user.handle %}" style="width: 100px">
                    <img class="rounded-circle" src="{{ request.user.profile_pic.url }}" width="35px" height="35px" alt="Foto de Perfil">
                </a>
                <h1 class="titulo m-0 text-warning" style="width: 100px">Quack</h1>
                <i id="btn-search" class="btn bi bi-list" style="width: 100px"></i>
            </div>
            <ul class="nav nav-pills justify-content-center align-items-center">
                <li class="nav-item">
                    <a id="nav-home" class="nav-link text-dark text-center active" style="width: 136px">
                        <i class="bi bi-house-door me-1"></i>
                        Início
                    </a>
                </li>
                <div class="vr mx-1"></div>
                <li class="nav-item">
                    <a id="nav-network" class="nav-link text-dark text-center" style="width: 136px">
                        <i class="bi bi-people me-1"></i>
                        Sua rede
                    </a>
                </li>
            </ul>
        </header>
        <div class="row">
            <aside class="col-lg fixed-col d-lg-flex d-none flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
                <a href="{% url 'home' %}" class="title mb-3 link-dark text-decoration-none text-dark"><h1 class="titulo">Quack</h1></a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a id="nav-home-desktop" class="nav-link text-dark active">
                            <i class="bi bi-house-door me-3"></i>
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-network-desktop" class="nav-link text-dark">
                            <i class="bi bi-people me-3"></i>
                            Sua rede
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="" class="d-flex justify-content-between align-items-center link-dark text-decoration-none drop-toggle" id="toggleUser" data-bs-toggle="dropdown">
                        <div class="d-flex">
                            <img class="rounded-circle me-2" src="{{ request.user.profile_pic.url }}" width="55px" height="55px" alt="Foto de Perfil">
                            <div>
                                <strong class="fs-5 d-block">{{ request.user.name }} {% if request.user.is_staff %}<i class="bi bi-patch-check-fill text-warning"></i>{% endif %}</strong>
                                <label class="fs-6 d-block">@{{ request.user.handle }}</label>
                            </div>
                        </div>
                        <i class="bi bi-caret-up-fill"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -34px);">
                        <li><a class="dropdown-item bg-quack" href="" data-bs-toggle="modal" data-bs-target="#modalPost"><i class="bi bi-pencil me-1"></i></i>Novo Quack</a></li>
                        <li><a class="dropdown-item" href="{% url 'profile' handle=request.user.handle %}"><i class="bi bi-person-circle me-1"></i>Perfil</a></li>
                        <li><a class="dropdown-item" href=""><i class="bi bi-gear me-1"></i>Configurações</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="bi bi-box-arrow-in-left me-1"></i>Sair</a></li>
                    </ul>
                </div>
            </aside>

            <form method="post" action="{% url 'home' %}" class="modal fade" id="modalPost" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Novo quack</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <textarea class="form-control" name="{{ form.content.name }}" placeholder="Digite seu post..." style="height: 100px"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-warning">Publicar</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <section id="home" class="col-lg-6 scroll-col">
                <div class="container px-5 py-3">
                    <div class="row">
                        <h2 class="titulo">Início</h2>
                        {% for quack in quacks %}
                        <article class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
                                <a href="{% url 'profile' handle=quack.user.handle %}" class="d-flex text-decoration-none link-dark mb-3">
                                    <img class="rounded-circle me-3" src="{{ quack.user.profile_pic.url }}" width="55px" height="55px" alt="Foto de Perfil">
                                    <div class="d-flex flex-column">
                                        <strong class="fs-5 d-inline-block text-truncate">{{ quack.user.name }} {% if quack.user.is_staff %}<i class="bi bi-patch-check-fill text-warning"></i>{% endif %}</strong>
                                        <label class="fs-6 d-inline-block text-truncate">@{{ quack.user.handle }}</label>
                                    </div>
                                </a>
                                <a class="text-decoration-none link-dark" href="{% url 'post_detail' post_id=quack.id %}">
                                    <p class="m-0">{{ quack.content|linebreaksbr }}</p>
                                </a>
                                <div class="d-flex justify-content-end counters">
                                    <div class="me-3">
                                        <i class="bi bi-chat-right-text"></i> {{ quack.total_comments }}
                                    </div>
                                    <button class="like-button {% if user in quack.likes.all %}liked{% endif %}" data-post-id="{{ quack.id }}">
                                        <i class="bi { 'bi-heart-fill text-warning' if user in quack.likes.all else 'bi-heart' }"></i> {{ quack.total_likes }}
                                    </button>
                                </div>
                            </article>
                        {% empty %}
                            <p>Nenhum post disponível.</p>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section id="network" class="col-lg-6 scroll-col d-none">
                <div class="container px-5 py-3">
                    <div class="row">
                        <h2 class="titulo">Sua rede</h2>
                        {% for quack in network_quacks %}
                        <article class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
                                <a href="{% url 'profile' handle=quack.user.handle %}" class="d-flex text-decoration-none link-dark mb-3">
                                    <img class="rounded-circle me-3" src="{{ quack.user.profile_pic.url }}" width="55px" height="55px" alt="Foto de Perfil">
                                    <div>
                                        <strong class="fs-5 d-inline-block text-truncate">{{ quack.user.name }} {% if quack.user.is_staff %}<i class="bi bi-patch-check-fill text-warning"></i>{% endif %}</strong>
                                        <label class="fs-6 d-inline-block text-truncate">@{{ quack.user.handle }}</label>
                                    </div>
                                </a>
                                <a class="text-decoration-none link-dark" href="{% url 'post_detail' post_id=quack.id %}">
                                    <p class="m-0">{{ quack.content|linebreaksbr }}</p>
                                </a>
                                <div class="d-flex justify-content-end counters">
                                    <div class="me-3">
                                        <i class="bi bi-chat-right-text"></i> {{ quack.total_comments }}
                                    </div>
                                    <button class="like-button {% if user in quack.likes.all %}liked{% endif %}" data-post-id="{{ quack.id }}">
                                        <i class="bi { 'bi-heart-fill text-warning' if user in quack.likes.all else 'bi-heart' }"></i> {{ quack.total_likes }}
                                    </button>
                                </div>
                            </article>
                        {% empty %}
                            <p>Nenhum post disponível.</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        
            <aside id="search" class="col-lg fixed-col d-lg-flex d-none flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
                <div class="d-flex justify-content-between mb-4">
                    <i id="back" class="btn bi bi-arrow-left d-lg-none"></i>
                    <div class="d-flex align-items-center"> 
                        <a class="p-1 bg-quack d-lg-none link-dark rounded d-flex text-decoration-none fw-bold" href="" data-bs-toggle="modal" data-bs-target="#modalPost"><i class="bi bi-pencil me-1"></i></i>Postar</a>
                        <a class="mx-4 d-lg-none text-dark fs-5" href=""><i class="bi bi-gear"></i></a>
                        <a class="d-lg-none text-danger fs-5" href="{% url 'logout' %}"><i class="bi bi-box-arrow-in-left"></i></a>
                    </div>
                </div>
                <hr class="mt-5">

                <div class="input-group flex-nowrap">
                    <i class="input-group-text bi bi-search"></i>
                    <input type="text" class="form-control" placeholder="Buscar usuário" id="user-search-input">
                </div>
                <div id="search-results" class="border"></div>

                <div class="mb-5"></div>
                <div class="card mt-5">
                    <div class="card-header">O que há de novo?</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-dot"></i>Reestilização da Página Home</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Reestilização da Página de Usuário</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Reestilização da Página de Post</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Curtidas em Posts</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Seguir usuários</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Selo de verificação <i class="bi bi-patch-check-fill text-warning"></i></li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Menu de seguindo e seguidores</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Criar post</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Ver curtidas</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Pesquisa de usuários</li>
                            <li class="list-group-item"><i class="bi bi-dot"></i>Página de login e registro</li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        const btnHome = document.getElementById("nav-home")
        const btnNet = document.getElementById("nav-network")
        const btnHomeDesk = document.getElementById("nav-home-desktop")
        const btnNetDesk = document.getElementById("nav-network-desktop")
        const home = document.getElementById("home")
        const network = document.getElementById("network")
        const btnSearch = document.getElementById("btn-search")
        const btnBack = document.getElementById("back")
        const search = document.getElementById("search")

        btnHome.addEventListener("click", () => {
            btnNet.classList.remove('active')
            network.classList.add('d-none')
            btnHome.classList.add('active')
            home.classList.remove('d-none')
        })

        btnNet.addEventListener("click", () => {
            btnHome.classList.remove('active')
            home.classList.add('d-none')
            btnNet.classList.add('active')
            network.classList.remove('d-none')
        })

        btnHomeDesk.addEventListener("click", () => {
            btnNetDesk.classList.remove('active')
            network.classList.add('d-none')
            btnHomeDesk.classList.add('active')
            home.classList.remove('d-none')
        })

        btnNetDesk.addEventListener("click", () => {
            btnHomeDesk.classList.remove('active')
            home.classList.add('d-none')
            btnNetDesk.classList.add('active')
            network.classList.remove('d-none')
        })

        btnSearch.addEventListener("click", () => {
            search.classList.remove('d-none')
        })
        btnBack.addEventListener("click", () => {
            search.classList.add('d-none')
        })

        document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.like-button').forEach(button => {
            const liked = button.classList.contains('liked')
            const icon = button.querySelector('i');
            icon.className = liked ? 'bi bi-heart-fill text-warning' : 'bi bi-heart';
            
            button.addEventListener('click', function() {
                const postId = this.dataset.postId;
                fetch(`/like_post/${postId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert('Você precisa estar logado para curtir posts.')
                    } else {
                        this.classList.toggle('liked', data.liked)
                        const iconClass = data.liked ? 'bi bi-heart-fill text-warning' : 'bi bi-heart'
                        this.querySelector('i').className = iconClass;
                        this.querySelector('i').nextSibling.textContent = ` ${data.total_likes}`
                    }
                })
                .catch(error => console.error('Erro ao processar a solicitação:', error))
            })
        })

        document.getElementById('user-search-input').addEventListener('input', function() {
        const query = this.value
        if (query.length > 0) {
            fetch(`/search-users/?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    let resultsDiv = document.getElementById('search-results')
                    resultsDiv.innerHTML = ''
                    if (data.length > 0) {
                        data.forEach(searchUser => {
                            console.log(searchUser)
                            let userDiv = document.createElement('div');
                            let userHTML = `
                                <a class="dropdown-item d-flex align-items-center p-1" href="/profile/${searchUser.handle}">
                                    <img class="rounded-circle me-1" src="${searchUser.profile_pic_url}" alt="Foto de Perfil" width="35" height="35">
                                    <div class="align-items-end">
                                        <strong class="d-block text-truncate">${searchUser.name}`
                            if (searchUser.is_staff) {
                                userHTML += ` <i class="bi bi-patch-check-fill text-warning"></i>`
                            }
                            userHTML += `</strong>
                                        <p class="fw-light d-block m-0 text-truncate">@${searchUser.handle}</p>
                                    </div>
                                </a>`
                            userDiv.innerHTML = userHTML;
                            resultsDiv.appendChild(userDiv);
                        })
                    } else {
                        resultsDiv.innerHTML = '<p>Nenhum usuário encontrado.</p>'
                    }
                })
        } else {
            document.getElementById('search-results').innerHTML = ''
        }
    })

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';')
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim()
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                        break
                    }
                }
            }
            return cookieValue
        }
    })
    </script>
</body>
</html>
