<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quack - Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        body {
            background-image: url("https://i.pinimg.com/originals/dc/b8/34/dcb83428c8d5e1c5410b6befe4365364.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        #card-post{
            width: 800px;
            min-height: 100vh;
        }
        article {
            border-bottom: 2px solid rgb(255, 234, 0);
        }
        .like-button {
            background: none;
            border: none;
            cursor: pointer;
        }

        .like-button.liked i {
            color: rgb(255, 234, 0);
        }
        @media (width < 576px) {
            #card-post{
                width: 96%;   
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="card-post" class="mx-auto bg-light p-4 rounded">
            <a href="{% url 'home' %}" class="text-dark link-dark my-1 d-flex flex-row-reverse">
                <i class="bi bi-house fs-4 end"></i>
            </a>
            <article class="p-3 mb-2">
                <a href="{% url 'profile' handle=post.user.handle %}" class="d-flex text-decoration-none link-dark mb-3">
                    <img class="rounded-circle me-3" src="{{ post.user.profile_pic.url }}" width="55px" alt="Foto de Perfil">
                    <div class="d-flex flex-column">
                        <strong class="fs-5 d-inline-block text-truncate">{{ post.user.name }}</strong>
                        <label class="fs-6 d-inline-block text-truncate">@{{ post.user.handle }}</label>
                    </div>
                </a>
                <p class="my-3">{{ post.content }}</p>
                <div class="d-flex justify-content-between counters">
                    <span class="quack-time me-3 text-secondary">{{ post.created_at|date:"d/m/Y H:i" }}</span>
                    <button class="like-button {% if user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}">
                        <i class="bi { 'bi-heart-fill' if user in post.likes.all else 'bi-heart' }"></i> {{ post.total_likes }}
                    </button>
                </div>
            </article>

            <section>
                <div>
                    <form method="post" action="{% url 'post_detail' post.id %}" class="d-flex align-items-center mb-4">
                        <img class="d-none d-md-block rounded-circle me-3" src="{{ request.user.profile_pic.url }}" width="55px" height="55px" alt="Foto de Perfil">
                        <div class="input-group">
                            {% csrf_token %}
                            <input type="text" name="{{ form.content.name }}" class="form-control border border-0 border-bottom" placeholder="Adicionar comentário">
                            <button class="btn btn-outline-warning bi bi-send p-4" type="submit"></button>
                        </div>
                    </form>
                </div>
                {% if comments %}
                    <h2 class="text-center">{{ post.total_comments }} comentário(s)</h2>
                {% endif %}
                {% for comment in comments %}
                    <article class="p-3 mb-2">
                        <a href="{% url 'profile' handle=user.handle %}" class="d-flex text-decoration-none link-dark mb-3">
                            <img class="rounded-circle me-3" src="{{ comment.user.profile_pic.url }}" width="55px" alt="Foto de Perfil">
                            <div class="d-flex flex-column">
                                <strong class="fs-5 d-inline-block text-truncate">{{ comment.user.name }}</strong>
                                <label class="fs-6 d-inline-block text-truncate">@{{ comment.user.handle }}</label>
                            </div>
                        </a>
                        <p class="my-3">{{ comment.content }}</p>
                        <div class="d-flex justify-content-between counters">
                            <span class="quack-time me-3 text-secondary">{{ comment.created_at|date:"d/m/Y H:i" }}</span>
                        </div>
                    </article>
                {% empty %}
                    <h2 class="text-center">Nenhum comentário</h2>
                    <p>Seja o primeiro a comentar!</p>
                {% endfor %}
            </section>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.like-button').forEach(button => {
            const liked = button.classList.contains('liked')
            const icon = button.querySelector('i');
            icon.className = liked ? 'bi bi-heart-fill' : 'bi bi-heart';
            
            button.addEventListener('click', function() {
                const postId = this.dataset.postId;
                fetch(`/like_post/${postId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert('Você precisa estar logado para curtir posts.')
                    } else {
                        this.classList.toggle('liked', data.liked)
                        const iconClass = data.liked ? 'bi bi-heart-fill' : 'bi bi-heart'
                        this.querySelector('i').className = iconClass;
                        this.querySelector('i').nextSibling.textContent = ` ${data.total_likes}`
                    }
                })
                .catch(error => console.error('Erro ao processar a solicitação:', error))
            })
        })

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';')
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim()
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                        break
                    }
                }
            }
            return cookieValue
        }
    })
    </script>
</body>
</html>
