<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quack - Perfil de {{ user.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .container {
            overflow-x: hidden;
        }
        li {
            list-style: none;
        }
        .nav-link.active {
            color: rgb(255, 193, 7) !important;
        }
        .nav-link {
            color: black !important;
        }
        #card-profile{
            width: 800px;
        }
        @media (width < 576px) {
            #card-profile{
                width: 300px;   
            }
            #profilepic {
                width: 100px !important;
                height: 100px !important;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="card-profile" class="mx-auto bg-light p-4 rounded">
            <a href="{% url 'home' %}" class="text-dark link-dark my-1 d-flex flex-row-reverse">
                <i class="bi bi-house fs-4 end"></i>
            </a>
            <header class="d-flex align-items-end">
                <img id="profilepic" class="rounded-circle me-3" src="{{ user.profile_pic.url }}" alt="Foto de Perfil" width="150" height="150">
                <div>
                    <strong class="d-block h2 text-nowrap">{{ user.name }}</strong>
                    <p class="fw-light d-block h3">@{{ user.handle }}</p>
                </div>
            </header>
            <p class="row mt-4 text-break">
                {{ user.bio }}
            </p>

            <div class="row text-body-secondary">
                <div class="col-lg-3">
                    <i class="bi bi-geo-alt me-1"></i> <span>{{ user.location }}</span>
                </div>
                <div class="col-lg-3">
                    <i class="bi bi-cake2 me-1"></i> <span>{{ user.birth_date|date:"d/m/Y" }}</span>
                </div>
                <div class="col-lg-6">
                    <i class="bi bi-calendar-week me-1"></i> <span>Se juntou ao Quack em {{ user.date_joined|date:"m/Y" }}</span>
                </li>
            </div>
            <div class="row pt-4">
                <p class="col-4 col-md-2 m-0">
                    <strong>{{ user.total_following }}</strong> Seguindo
                </p>
                <p class="col-4 col-md-2 m-0">
                    <strong>{{ user.total_followers }}</strong> Seguidores
                </p>
            </div>

            <ul class="row ror-cols-3 nav nav-underline text-center text-dark text-warning mt-4 p-0">
                <li class="col nav-item">
                    <a data-bs-toggle="tab" data-bs-target="#quacks" class="nav-link active" aria-current="page" href="#">Quacks</a>
                </li>
                <li class="col nav-item">
                    <a data-bs-toggle="tab" data-bs-target="#coments" class="nav-link" href="#">Comentários</a>
                </li>
                <li class="col nav-item">
                    <a data-bs-toggle="tab" data-bs-target="#curtidas" class="nav-link" href="#">Curtidas</a>
                </li>
            </ul>

            <div class="tab-content py-3">
                <div class="tab-pane active" id="quacks">
                    <h2>Quack</h2>
                    {% for quack in quacks %}
                        <article class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
                                <a href="{% url 'post_detail' post_id=quack.id %}" class="d-flex text-decoration-none link-dark mb-3">
                                    <img class="rounded-circle me-3" src="{{ quack.user.profile_pic.url }}" width="55px" alt="Foto de Perfil">
                                    <div class="d-flex flex-column">
                                        <strong class="fs-5 d-inline-block text-truncate">{{ quack.user.name }}</strong>
                                        <label class="fs-6 d-inline-block text-truncate">@{{ quack.user.handle }}</label>
                                    </div>
                                </a>
                            <a class="text-decoration-none link-dark" href="{% url 'post_detail' post_id=quack.id %}">
                                <p class="m-0">{{ quack.content }}</p>
                            </a>
                            <div class="d-flex justify-content-end counters">
                                <div class="me-3">
                                    <i class="bi bi-chat-right-text"></i> {{ quack.total_comments }}
                                </div>
                                <div>
                                    <i class="bi bi-heart"></i> {{ quack.total_likes }}
                                </div>
                            </div>
                        </article>
                        {% empty %}
                        <p>Nenhum post disponível.</p>
                        {% endfor %}
                </div>
                <div class="tab-pane" id="coments">
                    <h2>Comentários</h2>
                </div>
                <div class="tab-pane" id="curtidas">
                    <h2>Curtidas</h2>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
